.collaborative-compaines {
    width: 60%;
    margin: auto;
    text-align: center;

}

.collaborative-compaines h2 {
    font-size: 50px;
    color: var(--third-color);
}

.collaborative-compaines .companies {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.collaborative-compaines p {
    color: #4E657F;
}

.collaborative-compaines .companies div {
    font-size: 25px;
    margin: 20px;
    color: #4E657F;
    opacity: 0.8;
    cursor: default;
    z-index: -1 !important;
}

@media screen and (max-width: 849px) {
    .collaborative-compaines {
        width: 90% !important;
    }
}