footer {
    display: flex;
}

footer .left {
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    justify-content: space-between;
}

footer ul {
    list-style: none;
    display: inline-block;
    color: #4E657F;
    margin: 20px;
}

footer .right {
    width: 60%;
    text-align: right;
    padding: 100px;
}

.social {
    border-top: 1px solid #eee;
    padding: 20px;
}

.social a {
    color: #4E657F;
    margin: 10px 40px;
}

@media screen and (max-width: 585px) {
    footer {
        flex-flow: column wrap;
    }
    
    .social a {
        display: block;
    }
}